*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.svg-inline--fa {
  width: 26px;
  height: 26px;
}

.carousel_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.carousel_item .carousel_item_image_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67%;
  position: relative;
  background-color: grey;
}

.carousel_item .carousel_item_image_wrap img {
  height: auto;
  width: 100%;
}

.carousel_item .carousel_item_image_wrap .carousel_item_online {
  position: absolute;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  opacity: 0;
  font-weight: bold;
  font-size: 10px;
}

.carousel_item .carousel_item_image_wrap .carousel_item_online.online {
  opacity: 1;
}

.carousel_item .carousel_item_image_wrap .carousel_item_views {
  position: absolute;
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

.carousel_item .carousel_item_image_wrap .carousel_item_image_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.219);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel_item .carousel_item_image_wrap .carousel_item_image_info .svg-inline--fa {
  color: white;
}

.carousel_item .carousel_item_image_wrap:hover .carousel_item_image_info {
  opacity: 1;
}

.carousel_item .carousel_item_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  padding: 5px;
  background-color: gray;
}

.carousel_item .carousel_item_description .carousel_item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel_item .carousel_item_description .carousel_item_header .avatar {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}

.carousel_item .carousel_item_description .carousel_item_header .carousel_item_header_description {
  overflow: hidden;
}

.carousel_item .carousel_item_description .carousel_item_header .carousel_item_header_description p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px;
}

.carousel_item .carousel_item_description .carousel_item_header .carousel_item_header_description p.video_name {
  font-weight: bold;
}

.carousel_item .carousel_item_description .carousel_item_header .carousel_item_header_description p.strimer_name {
  font-size: 10px;
  color: #c4c4c4;
}

.carousel_item .carousel_item_description .carousel_item_header .carousel_item_header_description p:hover {
  color: blue;
}

.carousel_item .carousel_item_description .carousel_item_main p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px;
  color: #c4c4c4;
}

.carousel_item .carousel_item_description .carousel_item_main p::-moz-selection {
  color: white;
  background: orange;
}

.carousel_item .carousel_item_description .carousel_item_main p::selection {
  color: white;
  background: orange;
}

header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: orange;
  cursor: pointer;
}

header .logo p {
  padding-left: 6px;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

header .search div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

header .search div input[type="text"] {
  width: 100%;
}

header .search div input[type="text"]:focus {
  outline: 2px solid orange;
  border-radius: 2px;
}

header .search div input[type="text"]:focus + label .fa-magnifying-glass {
  top: 0;
  right: 0;
  height: 23px;
  padding: 5px;
}

header .search div .fa-magnifying-glass {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 25px;
  background-color: orange;
  padding: 6px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

header .search .fa-microphone {
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}

header .user_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .user_menu .fa-bell {
  color: grey;
  padding-right: 6px;
  cursor: pointer;
}

header .user_menu .wrap_paw {
  border-radius: 50%;
  background-color: orange;
  padding: 5px;
  position: relative;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  cursor: pointer;
}

header .user_menu .wrap_paw .fa-paw {
  width: 12px;
  height: 12px;
}

header .user_menu .wrap_paw .hidden_menu {
  position: absolute;
  top: 26px;
  right: 0;
  width: 150px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  z-index: -1;
}

header .user_menu .wrap_paw .hidden_menu .hidden_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 30px;
  position: relative;
}

header .user_menu .wrap_paw .hidden_menu .hidden_menu_item div {
  padding: 10px;
}

header .user_menu .wrap_paw .hidden_menu .hidden_menu_item div .svg-inline--fa {
  width: 12px;
  height: 12px;
}

header .user_menu .wrap_paw .hidden_menu .hidden_menu_item:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: grey;
}

header .user_menu .wrap_paw .hidden_menu .hidden_menu_item:hover {
  background-color: grey;
}

header .user_menu .wrap_paw:hover .wrap_paw {
  background-color: grey;
}

header .user_menu .wrap_paw:hover .hidden_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

main {
  height: calc(100vh - 50px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .left_side {
  width: 180px;
  height: 100%;
  background-color: grey;
}

main .left_side .left_side_main {
  height: calc(100% - 150px);
  overflow-y: auto;
  position: relative;
}

main .left_side .left_side_main .strimers {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .left_side .left_side_main .strimers .strimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  height: 52px;
}

main .left_side .left_side_main .strimers .strimer .strimer_left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 65%;
  position: relative;
}

main .left_side .left_side_main .strimers .strimer .strimer_left_side .avatar {
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  position: relative;
}

main .left_side .left_side_main .strimers .strimer .strimer_left_side .avatar .svg-inline--fa {
  width: 20px;
  height: 20px;
}

main .left_side .left_side_main .strimers .strimer .strimer_left_side .strimer_name {
  margin-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

main .left_side .left_side_main .strimers .strimer .strimer_left_side .strimer_name:hover {
  color: blue;
}

main .left_side .left_side_main .strimers .strimer .strimer_left_side.online::after {
  content: "";
  position: absolute;
  top: 44%;
  right: -26px;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

main .left_side .left_side_main .strimers .strimer .strimer_cout_subscribers {
  position: relative;
  margin-left: 14px;
}

main .left_side .left_side_main .strimers .strimer:hover {
  background-color: orange;
  cursor: pointer;
}

main .left_side_footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .left_side_footer .info {
  margin: 20px;
  background-color: #a1a1a1;
  padding: 5px 15px;
}

main .left_side_footer .info .info_main p {
  text-align: center;
}

main .left_side_footer .info .info_main p::-moz-selection {
  color: white;
  background: orange;
}

main .left_side_footer .info .info_main p::selection {
  color: white;
  background: orange;
}

main .left_side_footer .info .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

main .left_side_footer .info .info_links a {
  color: black;
}

main .left_side_footer .info .info_links a:hover {
  color: orange;
}

main .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 180px);
  overflow-y: auto;
}

main .main_content .categories {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  min-height: 52px;
  overflow-x: auto;
  list-style: none;
  padding: 5px 20px;
}

main .main_content .categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 45px;
  font-size: 10px;
  font-weight: bold;
  background-color: gray;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main_content .categories .category:first-child {
  background-color: orange;
  color: black;
}

main .main_content .carousel {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main_content .video_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 250px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-auto-rows: minmax(240px, auto);
  grid-gap: 10px;
  padding: 0 10px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main_content .video_container .carousel_item {
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main_content .video_container .carousel_item .carousel_item_image_wrap {
  width: 100%;
}

main .main_content .video_container .carousel_item .carousel_item_description {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

main .main_content .video_container .carousel_item .carousel_item_description .carousel_item_header {
  width: 100%;
}

main .main_content .video_container .carousel_item .carousel_item_description .carousel_item_main {
  position: absolute;
  right: 0;
}

main .main_content .video_container .carousel_item .carousel_item_description .carousel_item_main p {
  color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 0;
  margin: 0;
}

main .main_content .main_container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main_content .main_container_footer p {
  margin-right: 10px;
}

main .left_side_footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  top: 0;
  background-color: white;
}

@media (max-width: 1200px) {
  main .left_side {
    width: 75px;
  }
  main .left_side_footer {
    display: none;
  }
  main .main_content {
    width: calc(100% - 75px);
  }
  .strimers {
    overflow: hidden;
  }
  .strimer_left_side .strimer_name {
    opacity: 0;
    display: none;
  }
  .strimer_left_side.online::after {
    right: 0;
    left: 34px;
  }
  .strimer_cout_subscribers {
    opacity: 0;
    width: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
/*# sourceMappingURL=styles.css.map */