*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.svg-inline--fa {
  width: 26px;
  height: 26px;
}

.carousel_item {
  display: flex;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;

  .carousel_item_image_wrap {
    display: flex;
    align-items: center;
    width: 67%;
    position: relative;
    background-color: grey;

    img {
      height: auto;
      width: 100%;
    }

    .carousel_item_online {
      position: absolute;
      color: white;
      background-color: red;
      padding: 5px;
      border-radius: 5px;
      top: 5px;
      left: 5px;
      opacity: 0;
      font-weight: bold;
      font-size: 10px;
    }

    .carousel_item_online.online {
      opacity: 1;
    }

    .carousel_item_views {
      position: absolute;
      color: white;
      background-color: gray;
      padding: 5px;
      border-radius: 5px;
      bottom: 10px;
      right: 10px;
      font-size: 10px;
    }

    .carousel_item_image_info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.219);
      display: flex;
      justify-content: center;
      align-items: center;

      .svg-inline--fa {
        color: white;
      }
    }
  }

  .carousel_item_image_wrap:hover .carousel_item_image_info {
    opacity: 1;
  }

  .carousel_item_description {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 5px;
    background-color: gray;

    .carousel_item_header {
      display: flex;
      align-items: center;

      .avatar {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        padding: 8px;
      }

      .carousel_item_header_description {
        overflow: hidden;

        p {
          text-overflow: ellipsis;
          overflow: hidden;
          margin: 5px;
        }

        p.video_name {
          font-weight: bold;
        }

        p.strimer_name {
          font-size: 10px;
          color: rgb(196, 196, 196);
        }

        p:hover {
          color: blue;
        }
      }
    }

    .carousel_item_main {
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 5px;
        color: rgb(196, 196, 196);
      }

      p::selection {
        color: white;
        background: orange;
      }
    }
  }
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    cursor: pointer;

    p {
      padding-left: 6px;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    div {
      display: flex;
      position: relative;
      width: 100%;

      input[type="text"] {
        width: 100%;
      }

      input[type="text"]:focus {
        outline: 2px solid orange;
        border-radius: 2px;
      }

      input[type="text"]:focus + label .fa-magnifying-glass {
        top: 0;
        right: 0;
        height: 23px;
        padding: 5px;
      }

      .fa-magnifying-glass {
        position: absolute;
        right: 1px;
        top: 1px;
        height: 25px;
        background-color: orange;
        padding: 6px;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
      }
    }

    .fa-microphone {
      color: gray;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .user_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .fa-bell {
      color: grey;
      padding-right: 6px;
      cursor: pointer;
    }

    .wrap_paw {
      border-radius: 50%;
      background-color: orange;
      padding: 5px;
      position: relative;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      .fa-paw {
        width: 12px;
        height: 12px;
      }

      .hidden_menu {
        position: absolute;
        top: 26px;
        right: 0;
        width: 150px;
        display: none;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        z-index: -1;

        .hidden_menu_item {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          justify-content: start;
          height: 30px;
          position: relative;

          div {
            padding: 10px;

            .svg-inline--fa {
              width: 12px;
              height: 12px;
            }
          }
        }

        .hidden_menu_item:not(:last-child)::after {
          content: "";
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          bottom: 0;
          background-color: grey;
        }

        .hidden_menu_item:hover {
          background-color: grey;
        }
      }
    }

    .wrap_paw:hover .wrap_paw {
      background-color: grey;
    }

    .wrap_paw:hover .hidden_menu {
      display: flex;
      z-index: 1;
    }
  }
}

main {
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;

  .left_side {
    width: 180px;
    height: 100%;
    background-color: grey;

    .left_side_main {
      height: calc(100% - 150px);
      overflow-y: auto;
      position: relative;

      .strimers {
        list-style: none;
        display: flex;
        flex-direction: column;

        .strimer {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 20px;
          height: 52px;

          .strimer_left_side {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 65%;
            position: relative;

            .avatar {
              border-radius: 50%;
              background-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              padding: 5px;
              position: relative;

              .svg-inline--fa {
                width: 20px;
                height: 20px;
              }
            }

            .strimer_name {
              margin-left: 4px;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .strimer_name:hover {
              color: blue;
            }
          }

          .strimer_left_side.online::after {
            content: "";
            position: absolute;
            top: 44%;
            right: -26px;
            width: 6px;
            height: 6px;
            background-color: red;
            border-radius: 50%;
            animation: pulse 2s infinite;
          }

          .strimer_cout_subscribers {
            position: relative;
            margin-left: 14px;
          }
        }

        .strimer:hover {
          background-color: orange;
          cursor: pointer;
        }
      }
    }
  }

  .left_side_footer {
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;

    .info {
      margin: 20px;
      background-color: rgb(161, 161, 161);
      padding: 5px 15px;

      .info_main {
        p {
          text-align: center;
        }
        p::selection {
          color: white;
          background: orange;
        }
      }

      .info_links {
        display: flex;
        justify-content: space-around;
        list-style: none;

        a {
          color: black;
        }

        a:hover {
          color: orange;
        }
      }
    }
  }

  .main_content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 180px);
    overflow-y: auto;

    .categories {
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
      min-height: 52px;
      overflow-x: auto;
      list-style: none;
      padding: 5px 20px;

      .category {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        border: 1px solid black;
        border-radius: 45px;
        font-size: 10px;
        font-weight: bold;
        background-color: gray;
        color: white;
        justify-content: center;
      }

      .category:first-child {
        background-color: orange;
        color: black;
      }
    }

    .carousel {
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .video_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
      grid-auto-rows: minmax(240px, auto);
      grid-gap: 10px;
      padding: 0 10px;
      flex-grow: 5;
      justify-content: center;

      .carousel_item {
        width: auto;
        flex-direction: column;

        .carousel_item_image_wrap {
          width: 100%;
        }

        .carousel_item_description {
          width: 100%;
          flex-direction: row;
          position: relative;

          .carousel_item_header {
            width: 100%;
          }

          .carousel_item_main {
            position: absolute;
            right: 0;

            p {
              color: black;
              transform: rotate(90deg);
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }

    .main_container_footer {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-right: 10px;
      }
    }
  }

  .left_side_footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    top: 0;
    background-color: white;
  }
}

@media (max-width: 1200px) {
  main .left_side {
    width: 75px;
  }

  main .left_side_footer {
    display: none;
  }

  main .main_content {
    width: calc(100% - 75px);
  }

  .strimers {
    overflow: hidden;
  }

  .strimer_left_side {
    .strimer_name {
      opacity: 0;
      display: none;
    }
  }

  .strimer_left_side.online::after {
    right: 0;
    left: 34px;
  }

  .strimer_cout_subscribers {
    opacity: 0;
    width: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
